*/

/emi.json
/patchouli_data.json
/rhino.local.properties
/servers.dat_old
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/.sl_password

!/config
!/config/*
!/config/paxi/*
!/config/paxi/**
!/config/ftbquests/
!/config/ftbquests/**
!/kubejs/*
!/kubejs/**
!/mods
!/mods_curseforge
!/mods_curseforge/**
!/packmenu
!/packmenu/*
!/resourcepacks
!/resourcepacks/*
!/shaderpacks
