*/

/emi.json
/patchouli_data.json
/rhino.local.properties
/servers.dat_old
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/.sl_password

!/config
!/config/*
!/config/paxi/*
!/config/paxi/datapacks/*
!/kubejs
!/kubejs/*
!/kubejs/*/*
!/kubejs/*/*/*
!/kubejs/*/*/*/*
!/kubejs/*/*/*/*/*
!/kubejs/*/*/*/*/*/*
!/kubejs/*/*/*/*/*/*/*
!/kubejs/*/*/*/*/*/*/*/*
!/kubejs/*/*/*/*/*/*/*/*/*
!/mods
!/packmenu
!/packmenu/*
!/resourcepacks
!/resourcepacks/*
!/shaderpacks
