*/

/emi.json
/patchouli_data.json
/rhino.local.properties
/servers.dat_old
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/.sl_password

!/config
!/config/*
!/config/paxi/*
!/config/paxi/**
!/config/sedparties/*
!/config/sedparties/**
!/config/ftbquests/
!/config/ftbquests/**
!/defaultconfigs
!/defaultconfigs/**
!/js_gen
!/js_gen/**
!/kubejs
!/kubejs/**
!/mods
!/mods_curseforge
!/mods_curseforge/**
!/packmenu
!/packmenu/*
!/resourcepacks
!/resourcepacks/*
!/shaderpacks
!/tools
!/tools/**
!/zoompack-v4-server
!/zoompack-v4-server/**
/tools/js_gen/node_modules
/tools/js_gen/node_modules/**
/tools/js_gen/package-lock.json
